/* FOR MOBILE DEVICES */
@media only screen and (max-width: 688px) {
    header{
        padding: 0 5%;
        padding-top: 33px;

    }
    main{
        display: flex;
        flex-direction: column;
        margin: 0 4.17%;
    }
    footer{
        margin-bottom: 187px;
    }
    .dummy-hamburger{
        display: block;
    }
    .nav-links li{
        display: none;
    }
    #login-btn{
        margin-top: 33px;
        padding: 7px 18px;
        margin-bottom: 46px;
    }
    .hero-content{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .playersSection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        padding: 0;
        margin-top: 47px;
    }
    .bonusPlaceholder{
        margin-top: 165px;
        display: flex;
        justify-content: space-around;
        padding: 0;
        flex-direction: column;
    }
    #bonusText{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
    }
    #bonusText +p{
        margin-bottom: 34px;
    }
    .bonusPlaceholder>img{
        margin: 0;
        padding-top: 29px;
        width: 322px;
        height: 248px;
    }
    .bonusSection{   
        margin-top: 60px; 
        margin-bottom: 54.5px;
        padding: 0;  
        display: flex;
        flex-direction: column;
    }
    .sponsorContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px 20px;
    }
    .sponsorContainer img{
        width: 90px;
        height: 70px;
    }
    #highlights iframe{
        width: 328px;
        height: 248px;
    }
    /* IMAGES */
    .hero-banner{
        padding-top: 50px;
        padding-bottom: 60px;
        width:329px;
        height: 259px;
        text-align: center;
    }
    .player-img-container{
        margin: auto;
    }
    .players img{
        width:300px;
        height: 256px;
    } 
    footer img{
        width: 271px;
        height: 63px;
    }
    /* font */
    .hero-heading{
        color: white;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
    }
    .sponsors h2, #highlights h2{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    /* Animation Function */
    @keyframes drop { 
        10%{
            transform: translate(25px, 800px);
        }
        30%{
            transform: translate(75px, 600px);
        }
        45%{
            transform: translate(100px, 800px);
        }
        65%{
            transform: translate(125px, 650px);
        }
        80%{
            transform: translate(150px, 800px)
        }
        100%{
            transform: translate(150px,800px);
        }
    }
}
@media only screen and (min-width:689px) and (max-width:992px){
    main{
        display: flex;
        flex-direction: column;
        margin: 0 4.17%;
    }
    header{
        padding: 1px 5%;
    }
    footer{
        margin-bottom: 120px;
    }
    .nav-links li{
        padding-right: 12px;
    }
    .button{
        background-color: #E02C6D;
        padding: 5px 12px;
    }
    .playersSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        padding: 0;
        margin-top: 47px;
    }
    .players{
        align-items: center;
    }
    .bonusPlaceholder{
        margin-top: 165px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* padding: 0; */
    }
    #bonusText{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
    }
    #bonusText +p{
        margin-bottom: 34px;
    }
    .bonusPlaceholder>img{
        margin: 0;
        padding-top: 29px;
        width: 322px;
        height: 248px;
    }
    .bonusSection{   
        margin-top: 60px; 
        margin-bottom: 54.5px;
        padding: 0;  
    }
    .sponsorContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px 20px;
    }
    .sponsorContainer img{
        width: 90px;
        height: 70px;
    }
    #highlights iframe{
        margin-top: 29px;
        width: 328px;
        height: 248px;
    }
    /* IMAGES */
    .players img{
        width:280px;
        height: 226px;
    } 
    .hero-banner{
        margin-top: 50px;
        padding-bottom: 60px;
        width:329px;
        height: 259px;
    }
    footer img{
        width: 271px;
        height: 63px;
    }
    /* font */
    .hero-heading{
        color: white;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
    }
    .sponsors h2 ,#highlights h2{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
    }
    /* Animation Function */
}
