/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    padding: 0;
    margin:0;
    background-color: ;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
header{
    background-color: #2D25A0;
    font-weight: 500;
    margin: 0;
    padding: 1px 10%;
}
footer{
    margin-bottom: 63px;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}
.nav-links li{
    padding-right: 36px;
}
.button{
    background-color: #E02C6D;
    padding: 10px 24px;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
}
.hero-heading{
    color: white;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}
.hero-banner{
    width: 556px;
    height: 438px;
    padding-bottom: 86px;
}
/* Players Section */
.playersSection{
    margin-top: 70px;
    width: 72%;
    padding: 0 14%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}
.players{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.players img{
    width:300px;
    height: 256px;
}
.playerName{
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.playerBio{
    color: #6C6C6C;
}
.bonusSection{
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
    margin-bottom: 158px;
    padding: 0 10%;
}
.bonusText{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}
.bonusSection img{
    margin-left: 66px;
    width: 567px;
    height: 427px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 484px;
    height: 110px;
}
.footer-icons{
    font-size: 32px;
    margin: 20px 0;
}