/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* COMMON STYLES */
body{
    padding: 0;
    margin:0;
    background-color: #efefef ;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
header{
    background-color: #2D25A0;
    font-weight: 500;
    margin: 0;
    padding: 0 10%;
    padding-top: 42px;
}
footer{
    margin-bottom: 63px;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
i{
    padding: 0 5px;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* NAV BAR */
.dummy-hamburger{
    color:white; 
    font-size: 18px;
    display: none;
    cursor: pointer;
}
.nav-links li{
    padding-right: 36px;
    padding-left: 5px;
    /* transition: border .2s; */
}
.nav-links li:hover{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    border: 2px solid white;
}
/* BUTTON  */
.button{
    background-color: #E02C6D;
    padding: 10px 24px;
}
.button:hover{
    background-color: #91224a;
    box-shadow: 2px 2px 5px black;
}
/* HERO SECTION */
.hero-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
}
.hero-heading{
    color: white;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}
.hero-banner{
    width: 556px;
    height: 438px;
    padding-bottom: 86px;
}
/* HERO SECTION ANIMATION */
#ball{
    top: -400px;
    position: absolute;
    height: 50px;
    width: 50px;
}
#animationTrigger:hover + #ball{
    animation: drop 3s ease-out forwards;
} 
@keyframes drop { 
    10%{
        transform: translate(50px, 800px);
    }
    30%{
        transform: translate(100px, 600px);
    }
    45%{
        transform: translate(150px, 800px);
    }
    65%{
        transform: translate(200px, 700px);
    }
    80%{
        transform: translate(250px, 800px)
    }
    100%{
        transform: translate(250px,800px);
    }
}

/* PLAYERS SECTION  */
.playersSection{
    margin-top: 70px;
    width: 72%;
    padding: 0 14%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
}
.players{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-img-container{
    overflow: hidden;
}
.players:hover  img{
    transform: scale(1.2);
    opacity: 80%;
}
.players:hover  .playerName{
    color: #91224a;
}
.players img{
    width:300px;
    height: 256px;
    transition: transform .5s;
}
.playerName{
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
    transition: color .5s;
}
.playerBio{
    color: #6C6C6C;
}

/* BONUS SECTION PLACEHOLDER IN FIGMA */
.bonusPlaceholder{
    margin-top: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
}
#bonusText{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}
.bonusPlaceholder>img{
    margin-left: 66px;
    width: 567px;
    height: 427px;
}

/* BONUS SECTION */
.bonusSection{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 165px;
    margin-bottom: 158px;
    padding: 10px 14%;
}
.sponsors h2 , #highlights h2{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 8px;
}
.sponsorContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px 150px;
    margin-bottom: 15px;
}
.sponsorContainer img{
    width: 150px;
    height: 120px;
}
#highlights{
    width: 100%;
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOOTER  */
footer img{
    width: 484px;
    height: 110px;
}
.footer-icons a{
    font-size: 32px;
    margin: 20px 0;
    color: #971c49;
}
.footer-icons a:hover{
    color: black;
}